@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sm-container {
    @apply flex flex-col max-w-xs sm:max-w-sm w-full;
  }

  .text-shadow {
    text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  }

  .home-text-logo {
    @apply relative text-white text-6xl sm:text-7xl font-bold font-bangers tracking-[10px]
      after:block after:content-['F\00a0\00a0rca'] after:text-center after:w-fit after:cursor-text
      before:block before:absolute before:bottom-[1%] before:left-[11%] sm:before:left-[10.5%]
      before:w-[60px] sm:before:w-[70px] before:h-[60px] sm:before:h-[70px]
      before:bg-[url('img/rope.png')] before:bg-no-repeat before:bg-cover;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  }

  .home-text-logo span:not(.sr-only) {
    @apply block text-center drop-shadow;
  }

  .btn {
    @apply bg-blue-600 hover:bg-blue-800 disabled:bg-slate-700
    text-white text-lg sm:text-xl text-center font-medium font-bangers tracking-[1.5px]
    p-2 sm:p-3 w-full rounded-lg shadow-sm shadow-black text-shadow;
  }

  .btn.selected {
    @apply bg-blue-800 text-yellow-400 outline outline-2 outline-white z-10;
  }

  .input {
    @apply block border-b-2 border-white rounded caret-blue-800
    font-poppins text-2xl autofill:text-2xl placeholder:text-lg
    w-full h-10 sm:h-12 px-2 pt-2 focus:outline-none shadow-sm shadow-black/50;
  }

  .page-title {
    @apply text-white text-4xl sm:text-5xl text-center font-bangers text-shadow;
  }

  .rounded-gray-bg {
    @apply bg-gray-300 rounded-xl;
  }
}
